#display
{
    margin:0 auto;
    width:512px;
    height:256px;
    image-rendering:pixelated;
    border:8px solid #444;
}

body
{
    text-align: center;
    font-family: sans-serif;
}